{% extends 'layouts/base.html.twig' %}

{% block title %}New category - {{ parent() }}{% endblock %}

{% block main %}
    <h1>Create a new Category</h1>

    {% include 'pages/category/_form.html.twig' %}

    <a href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
