{% extends 'layouts/base.html.twig' %}

{% block title %}New comment - {{ parent() }}{% endblock %}

{% block main %}
    <h1>Create a new Comment</h1>

    {% include 'pages/admin/comment/_form.html.twig' %}

    <a href="{{ path('app_comment_index') }}">back to list</a>
{% endblock %}
