{% extends 'layouts/base.html.twig' %}

{% block title %}New post - {{ parent() }}{% endblock %}

{% block main %}
    <h1>Create a new Post</h1>

    {% include 'pages/post/_form.html.twig' %}

	<a href="{{ path('app_post_index') }}">back to list</a>
{% endblock %}
