{% extends 'layouts/base.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block main %}
    <div class="d-flex flex-column gap-5">
        {% if featured %}
            <div class="p-4 p-md-5 text-white rounded bg-dark">
                <h2 class="display-4 fst-italic">{{ featured.title }}</h2>
                <div class="col-md-6">
                    <p class="lead my-3">{{ featured.description }}</p>
                    <p class="lead mb-0"><a href="{{ path('app_post_show', { id: featured.id }) }}" class="text-white fw-bold">Continue reading...</a></p>
                </div>
            </div>
        {% endif %}

        <div class="row row-cols-2 g-4">
            {% for p in posts %}
                {% include 'components/post/_card.html.twig' with { post: p } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
