{% set form = field.parent == null %}
{% set errors = field.vars['errors'] %}

{% if errors|length > 0 %}
	{% if form %}
		<div class="alert alert-danger w-100 text-start mb-0">
			{% for error in errors %}
				{{ error.message }}<br>
			{% endfor %}
		</div>
	{% else %}
		<ul class="m-0 p-0 mt-1 ps-2 fs-6">
			{% for error in errors %}
				<li class="d-block w-100 text-start text-danger"><small>{{ error.message }}</small></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endif %}