{% extends 'layouts/base.html.twig' %}

{% block title %}Edit category - {{ parent() }}{% endblock %}

{% block main %}
    <h1>Edit Category: {{ category.name }}</h1>

    {% include 'pages/admin/category/_form.html.twig' with {'button_label': 'Update'} %}

    <a class="mt-auto" href="{{ path('app_category_index') }}">Back to the list</a>
{% endblock %}
